I*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

*.iml

customview/customview.iml

customview/customview.iml

.idea/misc.xml

.idea/misc.xml

app/app.iml

commonutils/commonutils.iml

*.iml

database/database.iml

networkutils/networkutils.iml

app/app.iml
